In [ ]:
import pandas as pd

In [ ]:
!pip install ctrl4ai

Collecting ctrl4ai
  Downloading https://files.pythonhosted.org/packages/6b/a8/ee64208bbc94f4e4dffac49a6252ba01f59046047d051fef3fbff5ff27af/ctrl4ai-1.0.2-py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from ctrl4ai) (2.23.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from ctrl4ai) (1.0.5)
Requirement already satisfied: geopy>=1.17.0 in /usr/local/lib/python3.6/dist-packages (from ctrl4ai) (1.17.0)
Requirement already satisfied: scipy==1.4.1 in /usr/local/lib/python3.6/dist-packages (from ctrl4ai) (1.4.1)
Collecting scikit-learn>=0.23.1
  Downloading https://files.pythonhosted.org/packages/d9/3a/eb8d7bbe28f4787d140bb9df685b7d5bf6115c0e2a969def4027144e98b6/scikit_learn-0.23.1-cp36-cp36m-manylinux1_x86_64.whl (6.8MB)
     |████████████████████████████████| 6.9MB 3.7MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from ctrl4ai) (1.18.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->ctrl4ai) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->ctrl4ai) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->ctrl4ai) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->ctrl4ai) (3.0.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->ctrl4ai) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->ctrl4ai) (2018.9)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.6/dist-packages (from geopy>=1.17.0->ctrl4ai) (1.50)
Collecting threadpoolctl>=2.0.0
  Downloading https://files.pythonhosted.org/packages/f7/12/ec3f2e203afa394a149911729357aa48affc59c20e2c1c8297a60f33f133/threadpoolctl-2.1.0-py3-none-any.whl
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.23.1->ctrl4ai) (0.16.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->ctrl4ai) (1.12.0)
Installing collected packages: threadpoolctl, scikit-learn, ctrl4ai
  Found existing installation: scikit-learn 0.22.2.post1
    Uninstalling scikit-learn-0.22.2.post1:
      Successfully uninstalled scikit-learn-0.22.2.post1
Successfully installed ctrl4ai-1.0.2 scikit-learn-0.23.1 threadpoolctl-2.1.0

In [14]:
from ctrl4ai import preprocessing
from ctrl4ai import automl

In [ ]:
from ctrl4ai import datasets

In [8]:
data = pd.read_csv('titanic_train.csv')

In [9]:
data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [11]:
y = data['Fare']

In [19]:
data1 = automl.preprocess(data,'supervised', target_variable='supervised', target_type='continuous',
          define_continuous_cols=['Fare'])

Dropping null dominated column(s) Cabin
Columns identified as continuous are PassengerId,Age,Fare
Columns identified as categorical are Survived,Pclass,Sex,SibSp,Parch,Embarked
Replaced nulls in Embarked with mode
Labels for Sex: {'male': 0, 'female': 1}
Labels for Embarked: {'S': 0, 'C': 1, 'Q': 2}
Replaced nulls in Age with mean

KeyError: ignored

In [39]:
import pandas as pd
dataset = pd.read_csv('titanic_train.csv')


#deleting the columns and features with only NULL values or zero value
#to check the columns are categorical or not if it is categorical then print true
from ctrl4ai import helper
for i in dataset.columns:
            if helper.check_categorical_col(dataset[i]) == True :
                x['i'] = dum
                dummy = pd.get_dummies( , drop_first = True)
                df = pd.concat([dataset , dummy] ,axis=1)
df.head()
                                                               

#in this code both numeric as well as strings are checked if they are categorical or not

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [35]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [21]:
dataset.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [42]:
dummy = pd.get_dummies( dataset['Pclass'] , drop_first = True)
df = pd.concat([dataset , dummy] ,axis=1)
df.head()

   PassengerId  Survived  Pclass  ... Embarked  2  3
0            1         0       3  ...        S  0  1
1            2         1       1  ...        C  0  0
2            3         1       3  ...        S  0  1
3            4         1       1  ...        S  0  0
4            5         0       3  ...        S  0  1

[5 rows x 14 columns]

In [41]:
dataset['Pclass']

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

In [36]:
# for converting the catergorical variable of any dataset........
for i in dataset.columns :
  if i  :
    pd.get_dummies(i , drop_first= True )
    print(i)

PassengerId
Survived
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked